
.level-container {
  text-align: center;
  padding: 10px;
  font-size: 25px;
}

.game-button {
  width: 100px;
  margin: 10px 10px 0 0;
  border: 2px solid violet;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  background: #000000;
  cursor: pointer;
}

.movements-left {
  width: 50px;
  margin-top: 10px;
  text-align: center;
  float: right;
  border: 2px solid violet;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  color: #fff;
}

.game-button:hover {
  background-color: #f9dadf;
  color: #000;
}
